<div class="kamera-content">
    <h1 class="page-title">Regjistro Kamerat</h1>
    <div class="kamera-create">

     
      <form #kameraForm="ngForm" (ngSubmit) = "createKamera(kameraForm)" novalidate>
        <input type="text" id="emri" class="form-control" placeholder="Emri i kameres" 
               required
               name="emri" [(ngModel)]="newKamera.emri"
               #emri="ngModel" >
        <input type="text" id="modeli" class="form-control" placeholder="Modeli i kameres" 
               required
               name="modeli" [(ngModel)]="newKamera.modeli"
               #modeli="ngModel" >
        <input type="text" id="rezolucioni" class="form-control" placeholder="Rezolucioni i kameres" 
               required
               name="rezolucioni" [(ngModel)]="newKamera.rezolucioni"
               #rezolucioni="ngModel" >
        <input type="text" id="ip" class="form-control" placeholder="Ip e kameres" 
               required
               name="ip" [(ngModel)]="newKamera.ip"
               #ip="ngModel" >  
               
               <input type="submit" value="Regjistro" style="margin-left: 45%;padding:5px;border-radius: 6px; margin-top: 3%;">
              

        <div *ngIf="emri.errors && emri.dirty"
             class="alert alert-danger">
            <div [hidden]="!emri.errors.required">
              Ju lutem vendosni emrin.
            </div>
        </div>
        <div *ngIf="modeli.errors && modeli.dirty"
             class="alert alert-danger">
            <div [hidden]="!modeli.errors.required">
              Ju lutem vendosni modelin.
            </div>
        </div>
        <div *ngIf="rezolucioni.errors && rezolucioni.dirty"
             class="alert alert-danger">
            <div [hidden]="!rezolucioni.errors.required">
              Ju lutem vendosni rezolucionin.
            </div>
        </div>
        <div *ngIf="ip.errors && ip.dirty"
             class="alert alert-danger">
            <div [hidden]="!ip.errors.required">
              Ju lutem vendosni Ip.
            </div>
        </div>

      </form>

    </div>

  <table class="table table-bordered table-dark">
      <thead>
        <tr>
         
          <th scope="col">Emri</th>
          <th scope="col">Modeli</th>
          <th scope="col">Rezolucioni</th>
          <th scope="col">Ip</th>
          <th scope="col">Update</th>
          <th scope="col">Fshij</th>
        </tr>
      </thead>
      <tbody>
        
        <tr  *ngFor="let kamera of kamerat" [class.completed]= "kamera.completed === true">
      
          
            <td>{{kamera.emri}}</td>
            <td>{{kamera.modeli}}</td>
            <td>{{kamera.rezolucioni}}</td>
            <td>{{kamera.ip}}</td>
            
          <td>
            <!-- Button trigger modal -->
            <button (click)="fillKamera(kamera)" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
              Launch
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <form #updateForm="ngForm" (ngSubmit) = "updateKamera(updateForm)" novalidate>

                  <input type="text" name="id" id="id" hidden [(ngModel)] = "kamera.id" #id="ngModel"> 
                  
                    <input type="text" id="emri" class="form-control" placeholder="Emri i kameres" 
                           required
                           name="emri" [(ngModel)]="kamera.emri"
                           #emri="ngModel" >
                    <input type="text" id="modeli" class="form-control" placeholder="Modeli i kameres" 
                           required
                           name="modeli" [(ngModel)]="kamera.modeli"
                           #modeli="ngModel" >
                    <input type="text" id="rezolucioni" class="form-control" placeholder="Rezolucioni i kameres" 
                           required
                           name="rezolucioni" [(ngModel)]="kamera.rezolucioni"
                           #rezolucioni="ngModel" >
                    <input type="text" id="ip" class="form-control" placeholder="Ip e kameres" 
                           required
                           name="ip" [(ngModel)]="kamera.ip"
                           #ip="ngModel" >  
                  </form>            




                  <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    Body
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="updateKamera()">Update Traveller</button>
</div>
                  </div>
                </div>
              
            </div>

          </td>



          <td> <button (click)="deleteKamera(kamera.id)">
            <i class="material-icons delete">clear</i>
          </button>b4
          
          </td>
        </tr>   
      </tbody>
    </table>
   



 
    <div class="no-kamera" *ngIf="kamerat && kamerat.length == 0">
        <p>Lista eshte e zbrazet</p>
    </div>
</div>
<div>

  

</div>








